.num1 {
  color: @black;
  font: normal normal normal 56px @baseFontFamilyCondensedBold;
}

.num2 {
  color: @black;
  font: normal normal normal 24px @baseFontFamilyCondensedBold;
}

.num3 {
  color: @black;
  font: normal normal normal 18px @baseFontFamilyCondensedBold;
}

.num-danger {
  color: @imperialRed100;
}

.num-success {
  color: @forestGreen60;
}

.num-disabled {
  color: @gray5;
}

.num-light {
  color: @gray3;
}
