[submodule "clients/rev1/node"]
	path = clients/rev1/node
	url = https://github.com/balanced/balanced-node.git
    branch = master
[submodule "clients/rev1/ruby"]
	path = clients/rev1/ruby
	url = https://github.com/balanced/balanced-ruby.git
  branch = master
[submodule "clients/rev1/python"]
	path = clients/rev1/python
	url = https://github.com/balanced/balanced-python.git
  branch = master
[submodule "java"]
	path = clients/rev1/java
	url = https://github.com/balanced/balanced-java.git
	branch = master
[submodule "clients/rev1/php"]
	path = clients/rev1/php
	url = https://github.com/balanced/balanced-php.git
  branch = master
[submodule "clients/rev1/csharp"]
	path = clients/rev1/csharp
	url = https://github.com/balanced/balanced-csharp.git
