[submodule "clients/python"]
	path = clients/python
	url = git://github.com/balanced/balanced-python.git
[submodule "clients/ruby"]
	path = clients/ruby
	url = git://github.com/balanced/balanced-ruby.git
[submodule "clients/java"]
	path = clients/java
	url = git://github.com/balanced/balanced-java.git
[submodule "clients/php"]
	path = clients/php
	url = git://github.com/balanced/balanced-php.git
[submodule "clients/node"]
	path = clients/node
	url = https://github.com/balanced/balanced-node.git
