.alert {
  border: 0px;
  .border-radius(0px);
  text-shadow: none;
  padding: 20px 15px 20px 15px;
  margin-bottom: 40px;
}

.alert-gray {
  background-color: @gray2;
  color: @black;
}

.alert-tab {
  position: relative;
  bottom: 5px;
  text-transform: uppercase;
  background-color: @forestGreen100;
  color: @white;
  display: inline;
  margin-bottom: 0px;
  padding: 8px 20px;
}