@import 'bootstrap.less';
@import 'strapped/strapped.less';

// Our custom overrides
@import "./variables.less";
@import "./mixins.less";
@import "./utility.less";
@import "./navbar.less";
@import "./sidebar.less";
@import "./type.less";
@import "./boxes.less";
@import "./base.less";
@import "./gist.less";
@import "./alerts.less";
@import "./dl.less";
@import "./dropdown.less";
@import "./forms.less";
@import "./tables.less";
@import "./content.less";
@import "./search.less";
@import "./code.less";

section, .section {
  margin-bottom: 50px;

  header {
    p {
        margin-bottom: 15px;
    }
  }
}

hr {
  border-bottom: 1px solid @gray2;
  margin: 35px 0 14px 0;
}

p {
  margin-bottom: 15px;
}

div.integration {
  border-bottom: 1px solid @gray2;
  margin-top: 50px;
  margin-bottom: 75px;

  h3 {
    margin: 0px;
  }

  div.copy-box {
    position: relative;
    left: 37%;
    top: 14px;
    display: inline;
    background-color: @white;
    padding: 10px 20px 10px 20px;
    border: 3px solid @black;

    .fontStyle('NimbusSanNovCon-Bol', 20px, @lettingSpacing: 0.1em);
    text-transform: uppercase;

    a {
      color: @black;
      .fontStyle('NimbusSanNovCon-Bol', 20px, @lettingSpacing: 0.1em);
    }
   }
}

ul {
  &.simple {
    list-style-type: none;
  }
}

code {
  .fontStyle(@monoFontFamily, @size: 12px, @color: @black);
  background-color: @white;
  border: 1px solid @gray2;
}

a {
  .fontStyle(@baseFontFamilySemiBold, inherit, @color: @linkColor);

  &:hover {
    text-decoration: none;
  }
}

b, strong {
  .fontStyle(@baseFontFamilyBold, inherit, @color: inherit);
}

ul.list-noindent, ol.list-noindent {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

// mixins

.clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  *zoom: 1; // When supporting IE 7
}