.code-white{
  background-color: #FFF;
  padding: 15px;
  div {
    p {
        text-transform: capitalize;
        font-family: NimbusSansNov-Reg;
        font-weight: normal;
        font-size: 18px;
        color: #000;
    }
  }

  pre {
    border: none;
    padding: none;
    margin: none;
    background-color: #FFF;

  }

}
