a {
  &.headerlink {
    margin-left: 3px;
    font-size: 24px;

  }

}
pre {
  border: none;
  padding: none;
  margin: none;
  background-color: #FFF;

}
.box {
  a {
    color: white;
  }

}
a > em:first-of-type{
  font-style: normal;
}
ol.arabic.simple > li{
  line-height: 26px;
}
td.label{
  background-color: transparent;
}

.compound > p, .alert > p{
  margin-bottom: 0px;
}