dl {
  &.dl-horizontal {
    margin-top: 40px;

    dt {
      .fontStyle('NimbusSanNov-SemBol', 13px, @color: @black);
      width: 185px;
      color: @black;
    }

    dd {
      margin-left: 195px;
    }
  }

  &.dl-params {
    dt, dd {
      border-top: 1px solid @gray2;
      text-align: left;

      strong {
        color: @black;
      }
    }
    dd {
      padding: 5px 0px 20px 0px;

    }
    dt {
      padding: 5px 0px 19px 0px;

    }

    dt code {
      .fontStyle('Inconsolata', @size: inherit, @color: @paramCode);
      padding-right: 8px;
      border: none;
      background-color: @bodyBackground;
    }
    
    p {
      margin-bottom: 0px;
    }
    
    &.filters {
      dt {
        width: 280px;
      }
    }
  }
}
blockquote.last{
  margin-left: -180px;
  
  dt {
      margin-top: -5px;
  }
}