ul#search-dropdown{
  li{
    border-bottom: 2px;
    margin: 3px 10px;
    h4{
      font-weight: bold;
      font-size: 16.25px;
      color: black;
    }
  }
  li:hover{
      background-color: #96C0C5;
  }

}