table {
  &.table {
    border-color: transparent;
    thead {
      border-color: transparent;
      tr {
        th {
          .fontStyle('Droid Serif Italic', 14px, @style: italic, @color: @black);
          background-color: @egyptianBlue20;
          padding: 12px 12px 12px 15px;
        }
      }
    }

    tbody {
      border-color: transparent;
      tr {
        td {
          background-color: @white;
          padding: 12px 12px 12px 15px;
        }
      }
    }
  }
}

.table-header{
  margin-top: 15px;
  margin-bottom: 15px
}
table.footnote{
  margin-top : -15px;
  font-size: 12px;
  line-height: 13px;

}
table.footnote+table.footnote{
  margin-top: 6px;
}

