{# {% extends "basic/layout.html" %} #}
<div class="container content" id="overview-content">
    <div class="row">

        <!-- The side bar menu -->
        <div class="span5 context-sidebar">
            <div class="sidebar-nav" data-spy="affix">
                <div class="row">
                    <div class="span5">

                        <!-- The navigation menu -->
                        <div class="overview-api">
                          <ul class="simple" id='context-selector'>
                            <li class="active">
                                <a href='overview.html'>Overview</a>
                            </li>
                            <li>
                                <a href='api.html'>API Reference</a>
                            </li>
                            <li>
                                <a href="https://support.balancedpayments.com/hc/en-us">FAQs</a>
                            </li>
                          </ul>
                        </div>

                        <!-- The table of contents menu -->
                        {%- block sidebar2 %}
                        {{ toctree(maxdepth=2, collapse=False) }}
                        {% endblock %}


                    </div>
                </div>
            </div>
        </div>

        <!-- The actual overview content -->
        <div id="context-content" class="span20 offset1">
            {% block body -%}

            {% endblock -%}
        </div>

    </div>
</div>