.sl1, .strapped-label1 {
  font: normal normal normal 18px @baseFontFamily;
  color: @black;
}

.sl2, .strapped-label2 {
  font: normal normal normal 15px @baseFontFamilyBold;
  color: @black;
}

.sl3, .strapped-label3 {
  font: normal normal normal 15px @baseFontFamily;
}

.sl4, .strapped-label4 {
  font: normal normal normal 13px @baseFontFamily;
}

.sl5, .strapped-label5 {
  font: normal normal normal 12px @baseFontFamily;
}

.sl-warning {
  color: @turmericYellow100;
}

.sl-disabled {
  color: @gray5;
}

.sl-danger {
  color: @imperialRed100;
}

.sl-dark {
  background-color: @black;
  color: @white;
}

.sl-link {
  color: @linkColor;
  &:visited, &:active {
    color: inherit;
  }
  &:hover {
    color: @linkColorHover;
  }
}

